{% extends 'base.html.twig' %}


{% block title %}Liste Candidatures{% endblock %}
{% block monTitre %}Liste Candidatures{% endblock %}
{% block body %}
<table class="table">
    <tr >
        <td>Nom :</td><td>{{candidat.nom}}</td>
    </tr>
    <tr >
        <td>Prénom :</td><td>{{candidat.prenom}}</td>
    </tr>
    <tr >
        <td>Prénom :</td><td>{{candidat.prenom}}</td>
    </tr>
    



</table>

{% endblock %}
